.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.thead {
  position: sticky;
  z-index: 100;
}

.trHead {
  background: var(--bg);
}

.th {
  padding: var(--sm-spacing);
  color: var(--text);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

.trBody {
  background: var(--white);
}

.td {
  padding: var(--sm-spacing);
  border: 1px solid var(--bg2);
  font-size: 14px;
}
